Repository sethamclean/nix: changes, and which lefthook commands are due for each by the changed paths.
All: nixfmt, nixcheck, shellcheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    nixfmt:
      glob: "*.nix"
      run: nixfmt {staged_files}
    nixcheck:
      glob: "*.nix"
      run: nix flake check
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}

feat: changed node packages to be top level packages. Added delta
  packages.nix
Due: nixfmt, nixcheck

feat: adding sesh to packages
  packages.nix
Due: nixfmt, nixcheck

feat: added hugo and devbox
  packages.nix
Due: nixfmt, nixcheck

feat: added necessary packages for yocto builds
  packages.nix
Due: nixfmt, nixcheck

feat: add zstd and grype
  packages.nix
Due: nixfmt, nixcheck

feat: complete restructuring to handle multiple targets, update workflows, remove old cruft
  .dockerignore
  .github/workflows/build.yaml
  .github/workflows/cleanup.yaml
  .github/workflows/flake_update.yml
  .github/workflows/main.yaml
  .github/workflows/scan.yaml
  Dockerfile
  README.md
  custom-packages/README.md
  custom-packages/code2prompt.nix
  custom-packages/default.nix
  custom-packages/github-binaries.nix
  custom-packages/tfenv.nix
  docker/Dockerfile
  docker/searxng-settings.yml
  docker/supervisord.conf
  docker/wezterm-mux-service.sh
  docker/wezterm-mux.lua
  flake.lock
  flake.nix
  home/README.md
  hosts/README.md
  hosts/wsl/default.nix
  nix/packages.nix
Due: nixfmt, nixcheck, shellcheck

fix: improve caching
  .dockerignore
  .github/workflows/build.yaml
  .github/workflows/cleanup.yaml
  README.md
  docker/Dockerfile
  flake.lock
Due: none

fix: remove old daemon cruft
  docker/Dockerfile
  docker/supervisord.conf
  docker/wezterm-mux-service.sh
  docker/wezterm-mux.lua
  nix/packages.nix
Due: nixfmt, nixcheck, shellcheck

feat: fix nix-pofile issues and locale issues
  docker/Dockerfile
Due: none

feat: add home manager
  flake.lock
  flake.nix
  home/README.md
  home/seth/default.nix
Due: nixfmt, nixcheck

feat: fix home manager .config path
  home/seth/default.nix
Due: nixfmt, nixcheck

fix: manage .config sub dirs instead
  home/seth/default.nix
Due: nixfmt, nixcheck

fix: attempt to use homemanager work around
  flake.lock
  flake.nix
Due: nixfmt, nixcheck

fix: prevent execing zsh from .profile if it's not a login shell
  flake.lock
  home/seth/default.nix
Due: nixfmt, nixcheck

fix: remove unnecesssary work around
  flake.nix
Due: nixfmt, nixcheck

add jujutsu, jjui, and tree-sitter
  nix/packages.nix
Due: nixfmt, nixcheck

feat: add support for hyperv vm
  README.md
  flake.nix
  hosts/README.md
  hosts/hyperv/default.nix
  nix/packages.nix
Due: nixfmt, nixcheck

fix: add import of hardware config
  hosts/hyperv/default.nix
Due: nixfmt, nixcheck

fix(codespaces): install daemon profile under seth and update flake inputs
  README.md
  docker/Dockerfile
  docker/supervisord.conf
  flake.lock
  hosts/README.md
Due: none

feat(packages): add uv to cli toolset
  nix/packages.nix
Due: nixfmt, nixcheck
