Repository sethamclean/nix: changes, and which lefthook commands are due for each by the changed paths.
All: nix-dry-run, nix-fmt

lefthook.yml:

pre-commit:
  commands:
    nix-dry-run:
      glob: "{*.nix,flake.lock}"
      run: nix build --dry-run
    nix-fmt:
      glob: "*.nix"
      run: nixfmt *.nix

adding package ast-grep
  packages.nix
Due: nix-dry-run, nix-fmt

moving python packages under the python install
  packages.nix
Due: nix-dry-run, nix-fmt

adding terraform and language server
  packages.nix
Due: nix-dry-run, nix-fmt

adding scheduled runs
  .github/workflows/main.yaml
Due: none

add mariadb
  packages.nix
Due: nix-dry-run, nix-fmt

adding mysql client and tailscale to supervisord
  packages.nix
  supervisord.conf
Due: nix-dry-run, nix-fmt

switch mysql out for mariadb
  packages.nix
Due: nix-dry-run, nix-fmt

add workflow for updating flake lock file automatically
  .github/workflows/flake_update.yml
Due: none

added plantuml
  flake.lock
  packages.nix
Due: nix-dry-run, nix-fmt

adding azure cli
  packages.nix
Due: nix-dry-run, nix-fmt

added searxng
  Dockerfile
  searxng-settings.yml
  supervisord.conf
Due: none

adding uv, changing container to listen on all interfaces
  packages.nix
  supervisord.conf
Due: nix-dry-run, nix-fmt

add service to keep port forwarding alive for OIDC callbacks
  packages.nix
  supervisord.conf
Due: nix-dry-run, nix-fmt

adding code2prompt
  packages.nix
Due: nix-dry-run, nix-fmt

added custom package for code2prompt
  custom-packages/README.md
  custom-packages/code2prompt.nix
  custom-packages/default.nix
  custom-packages/github-binaries.nix
  flake.nix
  lefthook.yml
  packages.nix
Due: nix-dry-run, nix-fmt

feat: added mermaid cli for mermaid validation in hooks
  packages.nix
Due: nix-dry-run, nix-fmt

feat: update flake.lock to update nix packages
  flake.lock
Due: nix-dry-run

feat: add tmux startup
  supervisord.conf
Due: none

feat: make sure custom packages are added. Add terraformer
  .dockerignore
  Dockerfile
  packages.nix
Due: nix-dry-run, nix-fmt

feat: add infracost
  packages.nix
Due: nix-dry-run, nix-fmt

feat: add vectorcode
  packages.nix
Due: nix-dry-run, nix-fmt

feat: add custom package for tfenv
  custom-packages/default.nix
  custom-packages/tfenv.nix
  packages.nix
Due: nix-dry-run, nix-fmt

feat: install correct helm package and add fluxcd
  packages.nix
Due: nix-dry-run, nix-fmt

feat: removed tmux in supervisord, added chromadb to supervsiord, changed chromadb package to 0.63 for vectorcode compatibility
  packages.nix
  supervisord.conf
Due: nix-dry-run, nix-fmt

fix: update flake.lock
  flake.lock
Due: nix-dry-run

feat: add kustomize and k9s
  packages.nix
Due: nix-dry-run, nix-fmt

feat: add kubeconform
  packages.nix
Due: nix-dry-run, nix-fmt

fix: remove terraform as it conflicts with tfenv
  packages.nix
Due: nix-dry-run, nix-fmt

fix: removed unused custom packages from packages.nix, updated flake.nix, added tenv
  flake.lock
  packages.nix
Due: nix-dry-run, nix-fmt

feat: add opencode, direnv, and move to modern nixfmt
  packages.nix
Due: nix-dry-run, nix-fmt

feat: added util-linux package
  packages.nix
Due: nix-dry-run, nix-fmt

fix: change docker fs driver to get around nested overlayfs issues
  Dockerfile
Due: none

feat: add yq-go, supervisordctl socket, update searxng config schema
  packages.nix
  searxng-settings.yml
  supervisord.conf
Due: nix-dry-run, nix-fmt

feat: Updated flake, added bun and appfire-cli to packages
  flake.lock
  packages.nix
Due: nix-dry-run, nix-fmt

feat: remove repeated chroadb error log line. Added ty package.
  packages.nix
  supervisord.conf
Due: nix-dry-run, nix-fmt

feat: added packages for encrypting secrets and wezterm configuration for multiplexing
  Dockerfile
  packages.nix
  supervisord.conf
  wezterm-mux-service.sh
  wezterm-mux.lua
Due: nix-dry-run, nix-fmt

fix: change back to overlayfs
  Dockerfile
Due: none

fix: update workflows
  .github/workflows/flake_update.yml
  .github/workflows/main.yaml
Due: none

feat: add rsync
  packages.nix
Due: nix-dry-run, nix-fmt

feat: add kind package
  packages.nix
Due: nix-dry-run, nix-fmt
